# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vkdeyzifeetaxwplzugd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hvVtJoDir7dpSWu2gZCMRQ_5gCSL4qu

# Pi Network
PI_API_KEY=gu3g7ubvfdqlbreyssjs8zakgiulwrc3dvtg3rceu0jd2twoaxlmgyc5o83npb27
NEXT_PUBLIC_PI_APP_ID=the-wall-17f83751cc0521cc
NEXT_PUBLIC_PI_SANDBOX=true
